<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/locketnoappleid/z_1600525061_877015118_4.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://raw.githubusercontent.com/Xwuan19/Locket-IPA/main/Locket%20Icon.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://raw.githubusercontent.com/Xwuan19/Locket-IPA/main/Locket%20Icon.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.locket.Locket</string>
<key>bundle-version</key>
<string>2.8.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Locket Widget 2.8.0_Xwuan</string>
</dict>
</dict>
</array>
</dict>
</plist>
